<html>
    <head>
        <title>
            1st flask app
        </title>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>
    </head>
        <body style = "background-color: antiquewhite;">
            <div class= "ui container">
                <div style='margin-top:18em'>
                </div>
                
                
            <center>
               <h1> welcome,</h1>
               <h2 > This is my first exprience of using flask app </h2>
               <div class="ui grid">
                   <div class="seven wide column"></div>
                    <div class="two wide column">
                        <a class="ui orange fluid icon button" href="/tasks" >
                            <i class="arrow right icon"></i>
                        </a>
                    </div>
                </div>
              

            </center>

            


           
            
        
        
            
        </div>
       
    </div>
        
</body>
   
</html>